@import url("https://fonts.googleapis.com/css?family=Cinzel");
body {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", sans-serif;
}

.flex-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-title {
  color: #f1f1f1c5;
  position: relative;
  font-size: 3vw;
  margin: 43%;
  text-align: center;
  transform: rotate(90deg);
  top: 15%;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.flex-title img {
  width: 300%;
  display: flex;
  align-items: top;
  justify-content: top;
}

@media screen and (max-width: 768px) {
  .flex-title {
    transform: rotate(0deg) !important;
  }
}

.flex-about {
  opacity: 0;
  color: #f1f1f1d3;
  position: top;
  width: 45%;
  font-size: 0.9vw;
  padding: 3%;
  top: 15%;
  border: 1px solid #f1f1f15e;
  border-radius: 10px;
  line-height: 1.1;
  margin: auto;
  text-align: justify;
  transform: rotate(0deg);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
@media screen and (max-width: 768px) {
  .flex-about {
    padding: 0%;
    border: 0px solid #f1f1f13d;
  }
}

.flex-about img {
  opacity: 0.6;
}

.flex-about img:hover {
  opacity: 0.9;
}

.flex-slide {
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
/**
 * Consulta de mídia para telas com largura máxima de 768px.
 * Aplica estilos à classe .flex-slide.
 * Define a propriedade overflow como auto e a propriedade overflow-x como hidden.
 */

@media screen and (max-width: 768px) {
  .flex-slide {
    overflow: auto;
    overflow-x: hidden;
  }
}

/**
 * Consulta de mídia para telas com largura máxima de 768px.
 * Modifica o tamanho da fonte dos parágrafos dentro dos elementos com a classe "flex-slide".
 */
@media screen and (max-width: 768px) {
  .flex-slide p {
    font-size: 2em;
  }
  .flex-title {
    font-size: 3em;
  }
  .flex-title-home img {
    width: 150%;
    display: flex;
    align-items: top;
    justify-content: center;
  }
}

.flex-slide:hover {
  -webkit-flex-grow: 3;
  flex-grow: 3;
}

.home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(img/exit-eden.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
@media screen and (min-width: 768px) {
  .home {
    animation: aboutFlexSlide 3s 1;
    animation-delay: 0s;
  }
}

@keyframes aboutFlexSlide {
  0% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  50% {
    -webkit-flex-grow: 3;
    flex-grow: 3;
  }
  100% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}
@media screen and (min-width: 768px) {
  .flex-title-home {
    transform: rotate(90deg);
    right: 1%;
    animation: aboutFlexSlide 3s 1;
    animation-delay: 0s;
  }
}

@keyframes homeFlextitle {
  0% {
    transform: rotate(90deg);
    top: 25%;
  }
  50% {
    transform: rotate(0deg);
    top: 25%;
  }
  100% {
    transform: rotate(90deg);
    top: 25%;
  }
}
.flex-about-home {
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .flex-about-home {
    animation: aboutFlexSlide 3s 1;
    animation-delay: 0s;
  }
}

@keyframes flexAboutHome {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Anna_Brunner.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Marina.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.work {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Clementine_Delauney.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
